:root {
    --color-hue: 180;

    --color-black-one: hsl(0, 0%, 0%);
    --color-black-two: hsl(0, 0%, 4%);
    --color-black-three: hsl(0, 0%, 6%);

    --color-white-one: hsl(0, 0%, 99%);
    --color-white-two: hsl(0, 0%, 86%);
    --color-white-three: hsl(0, 0%, 76%);

    --color-gray-900: hsl(214, 6%, 50%);
    --color-gray-800: hsl(214, 6%, 40%);
    --color-gray-700: hsl(214, 6%, 30%);
    --color-gray-600: hsl(214, 6%, 20%);
    --color-gray-500: hsl(214, 6%, 16%);
    --color-gray-400: hsl(214, 6%, 14%);
    --color-gray-300: hsl(214, 6%, 12%);
    --color-gray-200: hsl(214, 8%, 11%);
    --color-gray-100: hsl(214, 8%, 10%);

    --color-primary-900: hsl(var(--color-hue), 36%, 66%);
    --color-primary-800: hsl(var(--color-hue), 36%, 62%);
    --color-primary-700: hsl(var(--color-hue), 36%, 58%);
    --color-primary-600: hsl(var(--color-hue), 36%, 54%);
    --color-primary-500: hsl(var(--color-hue), 36%, 50%);
    --color-primary-400: hsl(var(--color-hue), 36%, 46%);
    --color-primary-300: hsl(var(--color-hue), 36%, 42%);
    --color-primary-200: hsl(var(--color-hue), 36%, 38%);
    --color-primary-100: hsl(var(--color-hue), 36%, 34%);

    --font: "Poppins", sans-serif;
}