.breadcrumbs {

    display: flex;
    align-items: center;
    gap: 0.5rem;

    .breadcrumb {
        color: var(--color-white-two);

        &-divider {
            color: var(--color-gray-900) !important;
        }

        &-active {
            color: var(--color-primary-500);
            text-transform: capitalize;
        }
    }
}