.btn {
  border-radius: 10rem;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  font-family: var(--font);
  background: var(--color-primary-500);
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  white-space: nowrap;
  color: var(--color-white);

  &-full-width {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-primary-600);
  }
}


@media screen and (max-width:414px) {
  .btn {
    width: 100%;
  }
}