.btn {
  padding: 0.625rem 1.5rem;
  outline: none;
  border: none;
  font-family: var(--font);
  background: var(--color-primary-600);
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  color: var(--color-white);

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-primary-500);
  }
}


@media screen and (max-width:414px) {
  .btn {
    width: 100%;
  }
}