@import "../scss/colors.scss";

.button {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 0.75em 2rem;
  background-size: 300% 300%;
  color: $white;
  background-color: $primary;
  box-shadow: 0 1px 0.5px 0 rgba(97, 97, 97, 0.5);

  &-outline {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px dashed $secondary;
    padding: 0.75em 2rem;
    background-size: 300% 300%;
    color: $secondary;
    background-color: $background-dark-two;
    box-shadow: 0 1px 0.5px 0 rgba(97, 97, 97, 0.5);

    svg {
      fill: $secondary;
    }

    &:disabled {
      background-color: $gray;
      color: $background-dark-three;
      border: 1px dashed $background-dark-three;

      &:hover {
        cursor: not-allowed;
      }
    }
    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:disabled {
    background-color: $gray-two;

    &:hover {
      cursor: not-allowed;
    }
  }
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}
