.cyrilic-to-latin-converter {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-textarea {
        padding: 1rem;
        border-radius: 2px;
        resize: none;
        background-color: var(--color-gray-200);
        border: 2px solid var(--color-gray-700);
        color: var(--color-white-one);
        outline: none;
        width: 100%;
        caret-color: var(--color-primary-500);
        font-family: var(--font);
        font-size: 0.875rem;
        font-weight: 400;

        &-label {
            display: block;
            font-weight: 500;
            color: var(--color-gray-900);
            margin-bottom: 0.5rem;
        }
    }
}