.home {


    &-title {
        margin: 0;
        font-size: 3rem;
        font-weight: 800;
        color: var(--color-white-two);
        text-align: center;
    }

    &-description {
        margin: 0 0 2rem;
        color: var(--color-gray-900);
        font-size: 1.125rem;
        text-align: center;
    }
}

.converters {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.converter-card {
    flex: 1;
    padding: 1.5rem;
    min-width: 16rem;
    height: 16rem;
    width: 100%;
    background-color: var(--color-gray-200);
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .icon-button svg {
        fill: none;
    }

    &:hover {
        .abstract-line>path {
            stroke: var(--color-primary-500);
        }

        .icon-button {
            border-color: var(--color-primary-500);

            svg>path {
                stroke: var(--color-primary-500) !important;
            }
        }
    }

    .abstract-line {
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;

        &-one {
            top: -4px;
            right: -4px;
        }

        &-two {
            right: -6px;
        }
    }

    h2 {
        white-space: nowrap;
        color: var(--color-white-two);
        margin: 0;
    }

    p {
        margin: 1rem 0 0;
        color: var(--color-gray-900);
    }
}