.icon-button {
  outline: none;
  padding: 0.625rem;
  border-radius: 50%;
  transition: 0.25s;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray-600);
  background-color: var(--color-gray-900);
  cursor: pointer;

  svg {
    fill: var(--color-white);
    width: 16px;
    height: 16px;
  }

  &-container {
    position: relative;

    &:hover .icon-button-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &-tooltip {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0.25rem;
    left: 3.5rem;
    border-radius: 1px;
    padding: 0.325rem 0.75rem;
    font-size: 0.825rem;
    color: var(--color-white-two);
    border: 1px solid var(--color-gray-500);
    background-color: var(--color-gray-800);
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 4px 8px var(--color-black-three);

    &::before {
      top: 6px;
      left: -7px;
      position: absolute;
      content: "";
      width: 7px;
      height: 14px;
      background-color: var(--color-gray-500);
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }

    &::after {
      top: 8px;
      left: -5px;
      position: absolute;
      content: "";
      width: 5px;
      height: 10px;
      background-color: var(--color-gray-800);
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }
  }
}