.icon-button {
  outline: none;
  padding: 0.625rem;
  border-radius: 2px;
  transition: 0.25s;
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--color-gray-700);
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-600);
  }

  svg {
    fill: var(--color-white);
    width: 16px;
    height: 16px;
  }

  &-container {
    position: relative;

    &:hover .icon-button-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &-tooltip {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -2.5rem;
    right: calc(-50% - 3px);
    border-radius: 1px;
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
    font-family: var(--font);
    color: var(--color-white-two);
    background-color: var(--color-gray-500);
    border-radius: 2px;
    white-space: nowrap;
    box-shadow: 0 4px 8px var(--color-black-three);

    &::after {
      bottom: -6px;
      left: calc(50% - 6px);
      position: absolute;
      content: "";
      width: 12px;
      height: 6px;
      background-color: var(--color-gray-500);
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }
}