.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  padding: 0 2rem;
  margin: 1rem auto;
  gap: 1rem;
}

.convert-actions {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}