.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 48rem;
  padding: 0 2rem;
  margin: 2rem auto;
  width: 100%;
}

.image-url-input {
  font-family: var(--font);
  color: var(--color-white-one);
  padding: 0 0 0.5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-gray-700);
  font-size: 0.875rem;
  caret-color: var(--color-primary-700);
  background-color: transparent;
  transition: 0.25s;

  &::placeholder {
    color: var(--color-gray-800);
  }

  &:focus {
    border-color: var(--color-white-three);
  }
}

.input-and-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 0.5rem;

  input {
    flex: 1
  }
}

.separator {
  text-align: center;
  color: var(--color-gray-900);
  position: relative;
  align-self: center;
  width: 100%;
  font-size: 0.875rem;

  &::before,
  &::after {
    top: 50%;

    position: absolute;
    content: "";
    width: 45%;
    height: 1px;
    background-color: var(--color-gray-600);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }


}