.image-wrapper {
  height: 100%;
  border-radius: 5px;
  background-color: var(--color-gray-01);
  border: 2px solid var(--color-gray-02);
  width: 100%;
  height: 400px;

  &-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
    h3 {
      margin: 0;
    }
    &-desc {
      color: var(--color-gray-03);
      font-size: 0.825rem;
    }

    .icon-image-preview {
      width: 4.5rem;
      height: 4.5rem;
      fill: var(--color-white);
    }
  }

  img {
    border-radius: 5px;
    width: 100%;
    height: 500px;
    position: relative;
  }
}
