.option-active {
  font-weight: 600;
  color: var(--color-primary-500);
  background-color: var(--color-gray-500);
}

.languages-select {
  position: relative;
  cursor: pointer;

  .selected-language {
    border-bottom: 2px solid var(--color-gray-600);
    width: 14rem;
    padding: 0 0 0.5rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    font-size: 0.875rem;

    .caret-down {
      width: 12px;
      height: 6px;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      background-color: var(--color-gray-300);
      position: relative;
    }
  }

  ul {
    top: 3rem;
    position: absolute;
    list-style: none;
    border: 2px solid var(--color-gray-600);
    background-color: var(--color-gray-300);
    border-radius: 2px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 14rem;
    height: 13rem;
    z-index: 1;
    box-shadow: 0 2px 6px var(--color-black-three);
    font-size: 0.875rem;
  }

  li {
    padding: 0.625rem 1rem;
  }
}

@media screen and (max-width:512px) {
  .languages {
    span {
      display: none;
    }
  }
}

@media screen and (max-width:414px) {

  .languages,
  .languages-select,
  .selected-language,
  ul {
    min-width: 100%;
  }
}