.languages {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  flex-wrap: wrap;

  span {
    color: var(--color-gray-100);
    font-size: 0.875rem;
  }
}

.option-active {
  font-weight: 600;
  color: var(--color-black);
  background-color: var(--color-primary-600);
}

.languages-select {
  position: relative;
  cursor: pointer;

  .selected-language {
    width: 14rem;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-500);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    font-size: 0.875rem;

    .caret-down {
      width: 12px;
      height: 6px;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      background-color: var(--color-gray-300);
      position: relative;
    }
  }

  ul {
    top: 3rem;
    position: absolute;
    list-style: none;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-500);
    border-radius: 6px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 14rem;
    height: 13.325rem;
    z-index: 1;
    box-shadow: 0 6px 12px var(--color-black-three);
    font-size: 0.875rem;
  }

  hr {

    &:first-child,
    &:last-child {
      display: none;
    }
  }

  li {
    padding: 0.5rem 0.75rem;
  }
}

@media screen and (max-width:512px) {
  .languages {
    span {
      display: none;
    }
  }
}