.progress-bar {
  height: 100%;
  background-color: #665cf2;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;

  &-container {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: lightgray;
    margin-bottom: -10px;
  }
}
