.text-wrapper {
  display: flex;
  flex-direction: column;
  button {
    margin: 1rem 0;
  }
}

textarea {
  border-radius: 5px;
  border: none;
  padding: 1rem;
  box-sizing: border-box;
  resize: none;
  width: 500px;
  height: 500px;
  box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 2px 24px -3px rgba(0, 0, 0, 0.4);

  &:focus {
    outline: none;
  }
}
