.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: relative;
  min-height: 11rem;

  &-heading {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    color: var(--color-gray-900);
    font-weight: 500;
  }

  &-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  &-output {
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-gray-600);
    padding: 1.5rem;
    height: 100%;
    width: 100%;
    border-radius: 1px;
    box-sizing: border-box;
    resize: none;
    font-family: var(--font);
    font-size: 0.875rem;
    overflow-wrap: break-word;

    &:focus {
      outline: none;
    }
  }

}