@import "../scss/colors.scss";

.toggle-switch {
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 2rem;
}

.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 4rem;
}

.inner:before {
  content: "";
  background-color: $background-dark-three;
  color: $secondary;
}

.inner:after {
  content: "";
  background-color: $background-light-two;
  color: $primary;
}

.switch {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background: $secondary;
  position: absolute;
  top: 1.4rem;
  right: 3.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in 0s;
}

.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  background: $primary;
  right: 2.25rem;
}
