@media only screen and (max-width: 600px) {
  textarea,
  img,
  .text-wrapper,
  .image-wrapper {
    width: 300px;
    height: 300px;
  }

  .imgurl-container {
    flex-direction: column;
  }
  .imgurl-input {
    margin: 1rem 0;
  }
}
