@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600&display=swap");

:root {
  --hue: 160;
  --color-background: hsl(0, 0%, 7%);
  --color-gray-01: hsl(0, 0%, 8%);
  --color-gray-02: hsl(0, 0%, 12%);
  --color-gray-03: hsl(0, 0%, 60%);

  --color-white: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 100%);
  --color-primary: hsl(var(--hue), 60%, 65%);
  --color-primary-two: hsl(var(--hue), 60%, 75%);
  --color-primary-three: hsla(var(--hue), 60%, 75%, 0.175);
  --font: "Exo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font);
  background-image: radial-gradient(
    rgba(123, 123, 123, 0.075) 1px,
    transparent 1px
  );
  background-size: 14px 14px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-gray-01);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-02);
}
