$primary: #ff9a8d;
$secondary: #aed6dc;
$white: #ffffff;

$background-dark: #1c1d22;
$background-dark-two: #24262b;
$background-dark-three: #414247;

$background-light: #f7f7f7;
$background-light-two: #eeeeee;

$gray: #c0c0c0;
$gray-two: #687179;
