html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--color-white-one);
    background-color: var(--color-gray-100);
    background-image: radial-gradient(var(--color-gray-300) 1px, transparent 1px);
    background-size: 0.5rem 0.5rem;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-gray-200);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-500);
}

b {
    color: var(--color-white);
}

hr {
    border-color: var(--color-gray-600);
    border-top: 0;
    margin: 0;
    padding: 0;
}